<mat-toolbar color="primary">
  <span>newWiki</span>
  <form (keyup.enter)="onFormSubmit()">
    <mat-form-field class="form-field">
      <input matInput placeholder="search" [formControl]="form" />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onFormSubmit()"
      >
        <mat-icon style="color: black">search</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-toolbar>
