.example-spacer {
  flex: 1 1 auto;
}

.form-field {
  padding-left: 12px;
  margin-bottom: -1.25em;
}

.form-search {
  margin-right: 6px;
}

::ng-deep .mat-mdc-form-field-infix {
  min-width: 230px !important;
  min-height: 38px !important;
  padding: 12px 6px !important;
  border-radius: 6px !important;
}

::ng-deep .mdc-text-field {
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
