.table {
  margin-top: 10px;
  width: 100%;
}

h2 {
  text-align: center;
}

th {
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.mat-column-title {
  border-left: 1px solid currentColor;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-wordcount {
  padding-left: 16px;
  border-right: 1px solid currentColor;
  text-align: center;
}

::ng-deep .mat-column-snippet .searchmatch {
  font-weight: bold;
}




