<div class="mat-typography" *ngIf="!results.length; else resultTable">
  <h2>No results</h2>
</div>

<ng-template #resultTable>
  <table mat-table [dataSource]="results" class="mat-elevation-z8 table">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        <a
          target="_blank"
          [href]="'https://en.Wikipedia.org?curid=' + element.pageid"
        >
          {{ element.title }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="wordcount">
      <th mat-header-cell *matHeaderCellDef>Word Count</th>
      <td mat-cell *matCellDef="let element">{{ element.wordcount }}</td>
    </ng-container>

    <ng-container matColumnDef="snippet">
      <th mat-header-cell *matHeaderCellDef>Snippet</th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element.snippet"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>
